@import '../../styles/variables';

.task-list {
  margin-bottom: 1rem;
}

.btn-outline-primary {
  border-radius: $radius-sm;
  transition: all $transition-time ease;

  &:hover {
    transform: translateY(-1px);
  }
}
